<%= form_with(model: geral_veiculo_pessoa, local: true) do |form| %>
  <% if geral_veiculo_pessoa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(geral_veiculo_pessoa.errors.count, "error") %> prohibited this geral_veiculo_pessoa from being saved:</h2>

      <ul>
      <% geral_veiculo_pessoa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :veiculo_id %>
    <%= form.select :veiculo_id, Veiculo.all.collect { |x| [x.name, x.id] }, {class: 'form-control', selected: form.object.veiculo_id}%>
  </div>

  <div class="field">
    <%= form.label :pessoa_id %>
    <%= form.select :pessoa_id, Pessoa.all.collect { |x| [x.email, x.cpf, x.id] }, {class: 'form-control', selected: form.object.pessoa_id}%>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
