<%= form_with(model: geral_pessoa, local: true) do |form| %>
  <% if geral_pessoa.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(geral_pessoa.errors.count, "error") %> prohibited this geral_pessoa from being saved:</h2>

      <ul>
      <% geral_pessoa.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :cpf %>
    <%= form.text_field :cpf %>
  </div>

  <div class="field">
    <%= form.label :rg %>
    <%= form.text_field :rg %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :telefone %>
    <%= form.text_field :telefone %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.select :user_id, User.all.collect { |x| [x.name, x.id] }, {class: 'form-control', selected: form.object.user_id}%>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
