<p id="notice"><%= notice %></p>

<h1>Geral Pessoas</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cpf</th>
      <th>Rg</th>
      <th>Email</th>
      <th>Telefone</th>
      <th>User</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @geral_pessoas.each do |geral_pessoa| %>
      <tr>
        <td><%= geral_pessoa.name %></td>
        <td><%= geral_pessoa.cpf %></td>
        <td><%= geral_pessoa.rg %></td>
        <td><%= geral_pessoa.email %></td>
        <td><%= geral_pessoa.telefone %></td>
        <td><%= geral_pessoa.user_id %></td>
        <td><%= geral_pessoa.status %></td>
        <td><%= link_to 'Show', geral_pessoa %></td>
        <td><%= link_to 'Edit', edit_geral_pessoa_path(geral_pessoa) %></td>
        <td><%= link_to 'Destroy', geral_pessoa, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Geral Pessoa', new_geral_pessoa_path %>
