<%= form_with(model: geral_client, local: true) do |form| %>
  <% if geral_client.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(geral_client.errors.count, "error") %> prohibited this geral_client from being saved:</h2>

      <ul>
      <% geral_client.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :company_name %>
    <%= form.text_field :company_name %>
  </div>

  <div class="field">
    <%= form.label :document %>
    <%= form.text_field :document %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :user_id %>

   <%= form.select :user_id, User.all.collect { |x| [x.email, x.id] }, {class: 'form-control', selected: form.object.user_id}%>
  </div>

  <div class="field">
    <%= form.label :notes %>
    <%= form.text_area :notes %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
